*, *::before, *::after{
    box-sizing: border-box;
}
body{
    background-color: #121212;
    font-family: 'inter',sans-serif;
    color: white;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
/* HEADER */
header{
    /* border: 1px solid pink; */
    max-height: 40vh;
    border: 10 px solid rgb(180, 94, 94);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3,1fr);
}
.header-img{
    /* border: 1px solid pink; */
    object-position: center;
    grid-row: 1/-1;
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-background{
    background-color: rgba(0, 0, 0, 0.658);
    grid-row: 1/-1;
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
}
header .heading{
    align-items: center;
    justify-content: space-around;
    grid-row: 2;
    display: flex;
    grid-column: 1/-1;
}
.heading h1{
    font-size: 6vw;
}
.heading h3{
    font-size: 3vw;
}
@media (max-width: 300px) {
    .header-img{
        /* border: 1px solid pink; */
        object-position: 0 0;
        object-fit: cover;
    }
}
@media (min-width: 700px) {
    header{
        max-height: 50vh;
    }
    .heading h1{
        font-size: 2.8rem;
    }
    .heading h3{
        font-size: 1.6rem;
    }
}

/* MOVIES  */
#main-el{
    width: 100%;
}
.movies{
    padding: 1em;
    width: 100%;
}
.movie{
    /* margin: 1em; */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.movie .poster{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 30%;
    border: 1px solid pink;
}
.poster img{
    width: 100%;
    object-fit: contain;
}
.movie .detail{
    max-width: 450px;
    font-size: 3vw;
    width: 70%;
    /* border: 1px solid pink; */
}
.rating{
    font-size: 0.5em;
}
.tag{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}
span i{
    cursor: pointer;
    border-radius: 20px;
    background-color: white;
    color: black;
    margin: 1em 1em 0 1em;
    padding: 0.5em 1em;
    font-family: 'inter';
}
@media (min-width: 700px) {
    .movies{
        min-width: 700px;
        width: 70%;
        margin: 1em auto;
    }
    .movie .poster{
        width: 25%;
    }
    .movie .detail{
        font-size: 1.2rem;
        width: 80%;
        /* border: 1px solid pink; */
    }
    .movie{
        gap: 2em;
    }
}